* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.head-offers {
  background-color: #1d232c;
  color: #e2e1e1;
  font-size: 1.5vw;
  padding: 4px;
  text-align: center;
  overflow: hidden;
      white-space: nowrap;
      position: relative;
}

.head-offers-msg{
  display: inline-block;
  animation: slideCenter 1.2s ease-out forwards;
  opacity: 0;
  white-space: nowrap
}

@keyframes slideCenter {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.head-offers.hidden {
  max-height: 0;
  padding: 0 20px;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1000ms linear;
}

.head-offers i {
  margin-left: 10%;
}

.head-offers i:hover{
  cursor: pointer;
}

.offertext{
  background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;  
  filter: hue-rotate(0deg);
  animation: hueChange 3s linear infinite;
}

@keyframes hueChange {
  0%   { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}


nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 15px;
  position: sticky;
  top: 0px;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  z-index: 50;
}

nav h1 {
  font-size: 2.5vw;
}

.navbar-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.navbar-links a {
  text-decoration: none;
  color: #1d232c;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: #1d232c;
}

#navbar-toggle {
  display: none;
}

#sidenavbar {
  background-color: #1d232c;
  width: 40%;
  height: 100vh;
  position: fixed;
  padding: 20px;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 999;
  font-size: 3vw;
}

.sidenavbar-links {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 20px;
  align-items: start;
}

.sidenavbar-links a {
  text-decoration: none;
  color: white;
}

.sidenavbar-links a:hover {
  text-decoration: underline;
  color: white;
}

.sidenavbar-closebtn {
  color: white;
  text-align: right;
  font-size: 3vw;
}

.sidenavbar-closebtn:hover{
  color: rgb(224, 224, 224);
  cursor: pointer;
}

@media screen and (min-width: 909px) {
  #sidenavbar {
    display: none;
  }
}

/* sliders */

.slider-container {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 10px;
  margin-top: 2vw;
}

.slider-leftarrow {
  position: absolute;
  color: white;
  top: 45%;
  left: 5%;
  z-index: 1;
}
.slider-image {
  width: 100vw;
}

.slider-images-container {
  display: flex;
  transition: all 1000ms ease-in-out;
}

.slider-content {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  top: 20%;
}

.slider-content h1 {
  font-size: 5vw;
}

.slider-content h4 {
  margin-top: 2vw;
  font-size: 2vw;
}

.slider-content button {
  padding: 1vw 2vw;
  margin-top: 1vw;
  font-size: 1.8vw;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
}

.slider-content button:hover{
  cursor: pointer;
  background-color: rgb(253, 253, 253);
}

.slider-rightarrow {
  position: absolute;
  color: white;
  top: 45%;
  right: 5%;
}

.slider-leftarrow i {
  font-size: 8vw;
}

.slider-rightarrow i {
  font-size: 8vw;
}

/* body container */

.container {
  padding: 0px 15px;
  padding-bottom: 10px;
}

/* Brands */

.brands {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: 3vw;
  width: 100%;
}

.brands h1 {
  font-size: x-large;
}

.brands-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 2vw;
}

.brand-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 300ms ease;
  border-radius: 5px;
  padding: 5px  ;
}

.brand-item img {
  width: 4vw;
  align-items: center;
}

.brand-item p {
  font-size: 2vw;
  font-weight: lighter;
}


.brand-item:hover{
  cursor: pointer;
  transform: translatey(-8px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* services */

.services {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 100%;
}
.services-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.services-about-1 {
  font-size: 2.2vw;
  font-weight: bold;
}

.services-about-2 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.services-about-2 p {
  font-size: 1.7vw;
  text-align: right;
  display: flex;
  flex-wrap: nowrap;
}

.service-item {
  padding: 10px;
  background-color: #f2f4f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.service-item i {
  font-size: 2.5vw;
  margin-bottom: 1vw;
  display: inline;
}

.service-item-title {
  font-weight: bold;
  font-size: 1.5vw;
}

.service-item p {
  font-size: 1.1vw;
}

.service-cointainer {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  margin-top: 1vw;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* newarrivals */

.newarrrival-conitainer {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.newarrrival-conitainer h1 {
  font-size: x-large;
}
.newarrival-product-conatinter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vw;
}

.newarrival-product-items img {
  width: 20vw;
  border-radius: 5px;
}

.newarrival-product-items {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  border-radius: 8px;
}

.shopnowbtn {
  position: absolute;
  top: 70%;
  left: 25%;
  font-size: 1.5vw;
  padding: 5% 5%;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
}

.shopnowbtn:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

/* /* MostWanted  */
.mostwanted-container {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.mostwanted-container h1 {
  font-size: x-large;
}
.mostwanted-product-container {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 4.1vw;
  margin-top: 2vw;
}

.mostwanted-product-container::-webkit-scrollbar {
  appearance: none;
}
.mostwanted-product-item {
  position: relative;
  border-radius: 5%;
}
.mostwanted-product-item-img {
  width: 20vw;
  border-radius: 3%;
}

.mostwanted-product-item-emptyheart,
.mostwanted-product-item-redheart {
  width: 10%;
}

.mostwanted-product-container span {
  position: absolute;
  left: 2%;
  top: 2%;
  background-color: red;
  color: white;
  padding: 2px 5px;
  font-size: 1.5vw;
  border-radius: 5px;
}

.mostwanted-product-item-emptyheart {
  position: absolute;
  right: 6%;
  top: 80%;
}

.mostwanted-product-item-redheart {
  position: absolute;
  right: 5%;
  bottom: 4%;
}

.mostwanted-product-item-redheart,.mostwanted-product-item-emptyheart:hover{
  cursor: pointer;
}

/* offers */

.offercontainer {
  background-color: #1d232c;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}

.offercontainer-content {
  padding: 5%;
  color: white;
}

.offercontainer-content h1 {
  font-size: 3vw;
}

.offercontainer-content h3 {
  font-size: 2vw;
}

.offercontainer-content button {
  background-color: white;
  color: black;
  padding: 2% 6%;
  font-size: 1.5vw;
  border: none;
  border-radius: 10px;
  text-wrap: nowrap;
  font-size: 1.5vw;
}

.offercontainer-img img {
  width: 100%;
  display: block;
  height: auto; /* maintain aspect ratio */
}

/* subscription-container */

.subscription-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4vw;
}

.subscription-container h1 {
  font-size: 3.5vw;
}

.subscription-container p {
  font-size: 1.8vw;
  margin-top: 0.5vw;
}

.subscription-container div {
  width: 100%;
  text-align: center;
  margin-top: 0.5vw;
}

.subscription-container input {
  width: 75%;
  padding: 1vw;
  border: 2px solid #1d232c;
  outline: none;
}

.subscription-container button {
  background-color: #1d232c;
  padding: 10px 10px;
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 1.5vw;
  font-size: 2vw;
}

/* footer */

footer {
  background-color: #1d232c;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 8vw;
}

footer h1 {
  font-size: 3.5vw;
}

footer p {
  font-size: 2vw;
  margin-top: 1vw;
}

.footer-socialmedia-container {
  display: flex;
  font-size: 2vw;
  gap: 2vw;
  margin-top: 1.5vw;
}

.intiate-scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* smoother easing */
  will-change: opacity, transform; /* performance optimization */
}

.reveal-scroll-animate {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 600px) {
  .head-offers {
    font-size: 3vw;
  }
  .brand-item img {
    width: 5vw;
    align-items: center;
  }

  .brand-item p {
    font-size: 2.5vw;
    font-weight: lighter;
  }

  .services-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
  }

  .services-about-1 {
    font-size: 2.3vw;
    font-weight: bold;
  }

  .services-about-2 {
    font-size: 1.8vw;
    text-align: right;
  }

  nav h1 {
    font-size: 6vw;
  }

  footer h1 {
    font-size: 6vw;
  }

  footer p {
    font-size: 3vw;
    margin-top: 1vw;
  }

  .footer-socialmedia-container {
    display: flex;
    font-size: 3.5vw;
    gap: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 909px) {
  .navbar-links {
    display: none;
  }

  #navbar-toggle {
    display: block;
    cursor: pointer;
  }
}

main {
  display: grid;
  grid-template-areas:
    "nav-search nav-search"
    "aside products-container"
    "footer footer";
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin-top: 20px;
}

.nav-search {
  grid-area: nav-search;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 80%;
  padding: 1.5vw;

  border-radius: 50px;
}

.searchbar input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.5vw;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: sticky;
  border-right: 1px solid black;
  margin-right: 5px;
  margin-top: 10px;
  padding-right: 10px;
}

.product-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  font-size: 2vw;
  height: auto;
  align-items: stretch;
}

.product-item-cost {
  font-size: 2.5vw;
}
.product-item-title{

  height: 40px; /* Adjust this based on your tallest title */
    overflow: hidden;
    text-align: center;
}

.product-item-purchase button {
  font-size: 1.5vw;
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  margin-top: 1vw;
}

.product-item-cart {
  background-color: #ed9800;
  color: white;
}

.product-item-buy {
  background-color: #7c7c7c;
  color: white;
}
.products-container {
  grid-area: products-container;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  overflow-y: auto;
  margin-top: 10px;
}

.categories-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;
}

.product-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

footer {
  grid-area: footer;
}
@media screen and (max-width: 375px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    gap: 0.6rem;
  }
  .product-item-purchase button {
    font-size: 2.2vw;
  }
  aside {
    font-size: 2.4vw;
  }
  .product-item-cost {
    font-size: 2vw;
  }

  aside input[type="checkbox"] {
    transform: scale(1);
  }
  .searchbar input {
    font-size: 3vw;
  }
  .product-item-title{

    height: 15px; /* Adjust this based on your tallest title */
      overflow: hidden;
      text-align: center;
  }
}
@media screen and (min-width:375px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 0.6rem;
  }
  .product-item-title{

    height: 25px; /* Adjust this based on your tallest title */
      overflow: hidden;
      text-align: center;
  }
  .product-item-purchase button {
    font-size: 2.5vw;
  }
  aside {
    font-size: 3vw;
  }
  .product-item-cost {
    font-size: 3vw;
  }

  aside input[type="checkbox"] {
    transform: scale(1);
  }
  .searchbar input {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 546px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    gap: 0.6rem;
  }
  .product-item-purchase button {
    font-size: 1.5vw;
  }
  aside {
    font-size: 2.2vw;
    margin-top: 20px;
  }

  .products-container {
    margin-top: 20px;
  }
  .product-item-cost {
    font-size: 2.6vw;
  }

  aside input[type="checkbox"] {
    transform: scale(1.2);
  }
  .searchbar input {
    font-size: 2.2vw;
  }

  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 75%;
    padding: 1.5vw;

    border-radius: 50px;
  }

  .navbar-title h1 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 768px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    gap: 0.6rem;
  }
  .product-item-purchase button {
    font-size: 1vw;
  }
  aside {
    font-size: 2vw;
    margin-top: 20px;
  }

  .products-container {
    margin-top: 20px;
  }
  .product-item-cost {
    font-size: 2.6vw;
  }

  aside input[type="checkbox"] {
    transform: scale(1.2);
  }
  .searchbar input {
    font-size: 2vw;
  }

  .searchbar {
    width: 75%;
    padding: 1vw;
  }

  .navbar-title h1 {
    font-size: 3vw;
  }

  .product-item h2 {
    font-size: 2vw;
  }

  .product-item-cost {
    font-size: 2vw;
  }
}
@media screen and (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 0.9rem;
  }
  .product-item-purchase button {
    font-size: 0.8vw;
  }
  aside {
    font-size: 1.7vw;
    margin-top: 20px;
  }

  .products-container {
    margin-top: 20px;
  }
  .product-item-cost {
    font-size: 2.2vw;
  }

  .product-item-purchase{
    display: flex;
    gap: 5px;
  }


  aside input[type="checkbox"] {
    transform: scale(1.1);
  }
  .searchbar input {
    font-size: 1.5vw;
  }

  .searchbar {
    width: 75%;
    padding: 1vw;
  }

  .navbar-title h1 {
    font-size: 3vw;
  }

  .product-item h2 {
    font-size: 1.8vw;
  }

  .product-item-cost {
    font-size: 1.5  vw;
  }
}
@media screen and (min-width: 1200px) {

  main {
    display: grid;
    grid-template-areas:
      "nav-search nav-search"
      "aside products-container"
      "footer footer";
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    grid-template-columns: 0fr auto;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin-top: 20px;
  }
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4.50rem;
  }
  .product-item-purchase button {
    font-size: 1vw;
  }
  aside {
    font-size: 1.2vw;
    margin-top: 20px;
    padding-right: 0px;
    width: 10vw;
  }

  .category-container{
    width: 70%;
    flex-wrap: wrap;
  }

  .products-container {
    margin-top: 20px;
  }
  .product-item-cost {
    font-size: 1.8vw;
  }

  .product-item-purchase{
    display: flex;
    gap: 5px;
    justify-content: center;

  }


  aside input[type="checkbox"] {
    transform: scale(1);
  }
  .searchbar input {
    font-size: 1.2vw;
  }

  .searchbar {
    width: 60%;
    padding: 0.8vw;
  }

  .navbar-title h1 {
    font-size: 2.8vw;
  }
  nav {
    padding: 0.5vw 15px;
  }

  .product-item h2 {
    font-size: 1.8vw;
  }

  .product-item-cost {
    font-size: 1.5  vw;
  }
  .products-container::-webkit-scrollbar {
    width: 6px;
  }
  .products-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .product-item-title{

    height: 30px; /* Adjust this based on your tallest title */
      overflow: hidden;
      text-align: center;
  }
  
}


.contact_us_2 * {
  font-family: Nunito, sans-serif;
}

.contact_us_2 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_2 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_2 input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_2 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_2 .submit-btn:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
 
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #0381fe;
}

.contact_us_2 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  height: auto;
}

.contact_us_2 .responsive-container-block.container {
  position: static;
  min-height: 75px;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.contact_us_2 .container-block.form-wrapper {
  background-color: white;
  max-width: 799px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
}

.contact_us_2 .text-blk.contactus-subhead {
  color: #9c9c9c;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_2 .input {
  width: 96%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .textinput {
  width: 98%;
  min-height: 150px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.contact_us_2 .submit-btn {
  width: 98%;
  background-color: #03a9f4;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

.contact_us_2 .form-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .social-media-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_2 .link-img {
  width: 30px;
  height: 30px;
}

.contact_us_2 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #9c9c9c;
}

.contact_us_2 ::placeholder {
  color: #dadada;
}

.contact_us_2 .blueBG {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 300px;
  background-color: #03a9f4;
}

@media (max-width: 768px) {
  .contact_us_2 .submit-btn {
    width: 100%;
  }

  .contact_us_2 .input {
    width: 100%;
  }

  .contact_us_2 .textinput {
    width: 100%;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .contact_us_2 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .contact_us_2 .text-blk.input-title {
    font-size: 12px;
  }

  .contact_us_2 .responsive-container-block.container {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .contact_us_2 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 34px;
  }

  .contact_us_2 .input {
    height: 45px;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}