* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.head-offers {
  background-color: #1d232c;
  color: #e2e1e1;
  font-size: 1.5vw;
  padding: 4px;
  text-align: center;
}

.head-offers i {
  margin-left: 10%;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 15px;
  position: sticky;
  top: 0px;
  z-index: 50;
}

.navbar-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.navbar-links a {
  text-decoration: none;
  color: #1d232c;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: #1d232c;
}

#navbar-toggle {
  display: none;
}

#sidenavbar {
  background-color: #1d232c;
  width: 40%;
  height: 100vh;
  position: fixed;
  padding: 20px;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 999;
  font-size: 3vw;
}

.sidenavbar-links {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 20px;
  align-items: start;
}

.sidenavbar-links a {
  text-decoration: none;
  color: white;
}

.sidenavbar-links a:hover {
  text-decoration: underline;
  color: white;
}

.sidenavbar-closebtn {
  color: white;
  text-align: right;
}

@media screen and (max-width: 909px) {
  .navbar-links {
    display: none;
  }

  #navbar-toggle {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (min-width: 909px) {
  #sidenavbar {
    display: none;
  }
}

/* sliders */

.slider-container {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.slider-leftarrow {
  position: absolute;
  color: white;
  top: 45%;
  left: 5%;
  z-index: 1;
}
.slider-image {
  width: 100vw;
}

.slider-images-container {
  display: flex;
  transition: all 1000ms ease-in-out;
}

.slider-content {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  top: 20%;
}

.slider-content h1 {
  font-size: 5vw;
}

.slider-content h4 {
  margin-top: 2vw;
  font-size: 2vw;
}

.slider-content button {
  padding: 1vw 2vw;
  margin-top: 1vw;
  font-size: 1.8vw;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
}

.slider-rightarrow {
  position: absolute;
  color: white;
  top: 45%;
  right: 5%;
}

.slider-leftarrow i {
  font-size: 8vw;
}

.slider-rightarrow i {
  font-size: 8vw;
}

/* body container */

.container {
  padding: 0px 15px;
  padding-bottom: 10px;
}

/* Brands */

.brands {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: 3vw;
  width: 100%;
}

.brands h1 {
  font-size: x-large;
}

.brands-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 2vw;
}

.brand-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.brand-item img {
  width: 4vw;
  align-items: center;
}

.brand-item p {
  font-size: 2vw;
  font-weight: lighter;
}

/* services */

.services {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 100%;
}
.services-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  text-wrap: nowrap;
}

.services-about-1 {
  font-size: 2.2vw;
  font-weight: bold;
}

.services-about-2 {
  font-size: 1.7vw;
  text-align: right;
}

.service-item {
  padding: 10px;
  background-color: #f2f4f7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.service-item i {
  font-size: 2.5vw;
  margin-bottom: 1vw;
  display: inline;
}

.service-item-title {
  font-weight: bold;
  font-size: 1.5vw;
  text-wrap: nowrap;
}

.service-item p {
  font-size: 1.1vw;
}

.service-cointainer {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  margin-top: 1vw;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* newarrivals */

.newarrrival-conitainer {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.newarrrival-conitainer h1 {
  font-size: x-large;
}
.newarrival-product-conatinter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vw;
}

.newarrival-product-items img {
  width: 20vw;
  border-radius: 5px;
}

.newarrival-product-items {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  border-radius: 8px;
}

.shopnowbtn {
  position: absolute;
  top: 70%;
  left: 27%;
  font-size: 1.5vw;
  padding: 5% 5%;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
}

/* /* MostWanted  */
.mostwanted-container {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.mostwanted-container h1 {
  font-size: x-large;
}
.mostwanted-product-container {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 4.1vw;
  margin-top: 2vw;
}
.mostwanted-product-item {
  position: relative;
  border-radius: 5%;
}
.mostwanted-product-item-img {
  width: 20vw;
  border-radius: 3%;
}

.mostwanted-product-item-emptyheart,
.mostwanted-product-item-redheart {
  width: 10%;
}

.mostwanted-product-container span {
  position: absolute;
  left: 2%;
  top: 2%;
  background-color: red;
  color: white;
  padding: 2px 5px;
  font-size: 1.5vw;
  border-radius: 5px;
}

.mostwanted-product-item-emptyheart {
  position: absolute;
  right: 6%;
  top: 80%;
}

.mostwanted-product-item-redheart {
  position: absolute;
  right: 5%;
  bottom: 4%;
}

/* offers */

.offercontainer {
  background-color: #1d232c;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}

.offercontainer-content {
  padding: 5%;
  color: white;
}

.offercontainer-content h1 {
  font-size: 3vw;
}

.offercontainer-content h3 {
  font-size: 2vw;
}

.offercontainer-content button {
  background-color: white;
  color: black;
  padding: 2% 6%;
  font-size: 1.5vw;
  border-radius: 5px fixed;
  text-wrap: nowrap;
  font-size: 1.5vw;
}

.offercontainer-img img {
  width: 100%;
  display: block;
  height: auto; /* maintain aspect ratio */
}

/* subscription-container */

.subscription-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4vw;
}

.subscription-container h1 {
  font-size: 3.5vw;
}

.subscription-container p {
  font-size: 1.8vw;
  margin-top: 0.5vw;
}

.subscription-container div {
  width: 100%;
  text-align: center;
  margin-top: 0.5vw;
}

.subscription-container input {
  width: 75%;
  padding: 1vw;
  border: 2px solid #1d232c;
  outline: none;
}

.subscription-container button {
  background-color: #1d232c;
  padding: 10px 10px;
  border: none;
  color: white;
  border-radius: 10px;
  margin-top: 1.5vw;
  font-size: 2vw;
}

/* footer */

footer {
  background-color: #1d232c;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 8vw;
}

footer h1 {
  font-size: 3.5vw;
}

footer p {
  font-size: 2vw;
  margin-top: 1vw;
}

.footer-socialmedia-container {
  display: flex;
  font-size: 2vw;
  gap: 2vw;
  margin-top: 1.5vw;
}

.intiate-scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* smoother easing */
  will-change: opacity, transform; /* performance optimization */
}

.reveal-scroll-animate {
  opacity: 1;
  transform: translateY(0);
}
